<!DOCTYPE html>
<html>

<!-- 
    This is a client that will display a list of grocceries accessed from a REST API. 
    
-->
    <head>
        <script defer src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script defer src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <!--DEVELOPMENT VERSON^^^^^^^-->
        <!--<script src="https://cdn.jsdelivr.net/npm/vue"></script>-->
        <!--PRODUCTION VERSION^^^^^^^-->
        <script src="main.js" type="module"></script>

    </head>

    <body>
        <div id='App'> 
          <p id="errorText"style=" color:red">{{error}}</p>

          <ul id=" list">
            <li v-for="groccery in groccerys" v-bind:key="groccery.id">
                    <input type="checkbox" class="groccery-checkbox" v-on:click="check(groccery)" v-model="groccery.done">
                   
                    <del v-if="groccery.done"> {{groccery.name}}</del>
                    <span v-else> {{groccery.name}}</span>
                    
                   
               <button class= "list-buton" v-on:click="removeTodo(groccery.id)">X</button>

            </li>
          </ul>

          <div id="addGroccery">
 
                    <input type="text" class="groccery-input" placeholder="Groccery name..." v-on:keyup.enter="addTodo">
            
              <!--  <List></List>-->
                <!--<p>{{groccerys}}</p>-->
          </div>
        </div>
    </body>
</html>